@media (max-width: 1280px) {
  .topnav_t,
  .topnav_b {
    height: 32px;
    font-size: 0.8rem;
  }

  #nav {
    height: 60px;
    padding: 0 5rem;
  }

  .logo a img {
    width: 80px;
  }

  .nav > ul > li > a {
    padding: 1.0625rem 1.375rem;
    font-size: 1rem;
  }

  .depth2-wrap {
    top: 60px;
  }

  .depth2 {
    padding: 3rem 5rem;
  }

  .gbnav {
    gap: 17px;
  }

  .gbnav a {
    font-size: 0.8rem;
  }

  section {
    height: calc(100vh - 124px);
  }

  section .section-wrap .female a,
  section .section-wrap .male a {
    font-size: 1rem;
  }

  #article_t {
    font-size: 1.7rem;
  }

  #service {
    height: 340px;
  }
}

@media (max-width: 1080px) {
  footer ul li {
    font-size: 0.7rem;
  }
}

@media (max-width: 1024px) {
  #nav {
    height: 50px;
    padding: 0 2rem;
  }

  .depth2-wrap {
    top: 50px;
  }

  section {
    height: calc(100vh - 114px);
    overflow: hidden;
    position: relative;
  }

  .section-wrap {
    transition: transform 0.6s ease-in-out;
    will-change: transform;
  }

  section .section-wrap .female,
  section .section-wrap .male {
    flex-shrink: 0;
    width: 100vw;
    align-items: flex-end;
    padding-bottom: 60px;
  }

  #article_m {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0 20px 40px 20px;
  }

  #article_b {
    height: 300px;
  }

  #service {
    flex-direction: column;
    padding: 0;
    height: auto;
  }

  #service .service-wrap {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid;
    position: relative;
    cursor: pointer;
  }

  #service .service-wrap:last-child {
    border-bottom: unset;
  }

  .service-wrap h2 {
    position: relative;
  }

  .service-wrap h2::after {
    content: "\F4FE";
    font-family: "bootstrap-icons";
    position: absolute;
    right: 5px;
  }

  .service-wrap.active h2::after {
    content: "\F2EA";
  }

  .service-wrap div {
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s ease;
  }

  .service-wrap.active div {
    max-height: 200px;
  }

  .service-wrap ul {
    padding: 30px 0;
  }

  .service-wrap ul li a {
    padding-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }

  header {
    width: 100%;
    height: 110px;
    position: fixed;
  }

  .bi-search,
  .bi-person-plus,
  .bi-heart,
  .bi-bag {
    font-size: 1.5rem;
  }

  .logo {
    width: unset;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .gbnav {
    position: absolute;
    right: 0;
    gap: 30px;
  }

  /* 모바일 배경 */
  .mobilebg {
    z-index: 3;
    width: 100%;
    height: 3421px;
    background-color: rgba(0, 0, 0, 0.499);
    position: absolute;
    top: 0;
    left: 0;
  }

  /* 모바일 메뉴 */
  .mobilenav {
    width: 70%;
    height: 3421px;
    background-color: #fff;
    position: relative;
  }

  .mobilenav > li > a {
    text-decoration: none;
    display: block;
    padding: 20px 40px;
    font-size: 1.2rem;
  }

  .mobilenav > li:hover > a {
    color: #a0a0a0;
  }

  .mobilebg,
  .mobiledepth2 {
    display: none;
  }

  .mobiledepth2 li a {
    text-decoration: none;
    display: block;
    padding: 10px 40px;
    font-size: 1rem;
  }

  .mobiledepth2 li:hover > a {
    color: #a0a0a0;
  }

  .bi-x-lg {
    font-size: 1.3rem;
    color: #fff;
    position: absolute;
    top: 1%;
    right: 5%;
  }

  footer {
    flex-wrap: wrap;
    gap: 100px;
  }

  #service ul li a,
  footer ul li {
    text-align: center;
  }
}

@media (max-width: 590px) {
  .mosec {
    height: 860px;
  }

  .sliderWrap {
    height: 750px;
  }

  #service {
    gap: 100px;
  }

  footer {
    gap: 80px;
    row-gap: 40px;
  }

  .copyright {
    padding-top: 15px;
  }
}

@media (max-width: 555px) {
  .bi-search {
    position: fixed;
    top: 56px;
    left: 110px;
  }

  .mosec {
    height: 810px;
  }

  .sliderWrap {
    height: 700px;
  }
}

@media (max-width: 490px) {
  .mosec {
    height: 725px;
  }

  .sliderWrap {
    height: 615px;
  }

  #service {
    gap: 60px;
  }

  footer {
    padding: 50px;
    justify-content: unset;
    row-gap: 40px;
  }

  footer ul li {
    text-align: unset;
    font-size: 0.8rem;
  }

  .copyright {
    padding-top: 40px;
  }
}

@media (max-width: 450px) {
  .topnav_b {
    font-size: 0.8rem;
  }

  .ham {
    left: -5px;
  }

  .bi-search {
    left: 72px;
  }

  .gbnav {
    gap: 15px;
    margin-right: 14px;
  }

  .mosec {
    height: 670px;
  }

  .sliderWrap {
    height: 560px;
  }

  footer {
    padding: 36px;
  }
}

@media (max-width: 375px) {
  .ham {
    font-size: 1.5rem;
    top: 56px;
  }

  .bi-search,
  .bi-heart,
  .bi-bag {
    font-size: 1.3rem;
  }

  .bi-search {
    top: 59px;
  }

  .mosec {
    height: 570px;
  }

  .sliderWrap {
    height: 460px;
  }

  #article_t {
    font-size: 1.7rem;
    height: 110px;
  }

  #article_b {
    height: 222px;
  }

  footer {
    gap: 57px;
    padding: 20px;
  }
}

@media (max-width: 375px) {
  .article_more a {
    padding: 8px 20px;
    font-size: 0.9rem;
  }

  footer {
    gap: 47px;
    row-gap: 10px;
  }
}

@media (max-width: 357px) {
  .mosec {
    height: 550px;
  }

  .sliderWrap {
    height: 440px;
  }

  #service {
    gap: 37px;
  }

  footer {
    gap: 41px;
    row-gap: 29px;
    padding: 12px;
  }
}
