@media (max-width: 1280px) {
  .topnav_t,
  .topnav_b {
    height: 32px;
    font-size: 0.8rem;
  }

  #nav {
    height: 60px;
    padding: 0 5rem;
  }

  .logo a img {
    width: 80px;
  }

  .nav > ul > li > a {
    padding: 1.0625rem 1.375rem;
    font-size: 1rem;
  }

  .depth2-wrap {
    top: 60px;
  }

  .depth2 {
    padding: 3rem 5rem;
  }

  .gbnav {
    gap: 17px;
  }

  .gbnav a, .gbnav .gbnav-login {
    font-size: 0.8rem;
  }

  section {
    height: calc(100vh - 124px);
  }

  section .section-wrap .female a,
  section .section-wrap .male a {
    font-size: 1rem;
  }

  #article_t {
    font-size: 1.7rem;
  }

  #service {
    height: 340px;
  }
}

@media (max-width: 1080px) {
  footer ul li {
    font-size: 0.7rem;
  }
}

@media (max-width: 1024px) {
  .m-nav {
    overflow-y: auto;
  }

  #nav {
    height: 50px;
    padding: 0 15px;
  }

  .topnav_t_close,
  .topnav_b_close {
    right: 15px;
  }

  #nav .nav {
    display: none;
  }

  .depth2-wrap {
    display: none;
  }

  .gbnav-country,
  .gbnav-login {
    display: none !important;
  }

  .gbnav {
    position: absolute;
    right: 50px;
    gap: 20px;
  }

  .mo-button {
    display: block;
  }

  .mo-button.active .bi-list::before {
    content: "\f659";
  }

  .m-nav {
    z-index: 2;
    width: 100%;
    height: calc(100vh - 112px);
    background-color: white;
    position: absolute;
    top: 50px;
    left: 0;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    gap: 250px;
    border-bottom: 1px solid #282828;
    transition: height 0.3s ease-in;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  .m-nav.active {
    display: flex !important;
  }

  .m-depth1 > li {
    font-size: 0.8rem;
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid #e0e0e0;
  }

  .m-depth1-title {
    display: block;
    position: relative;
  }

  .m-depth1-title:hover {
    color: #a0a0a0;
  }

  .m-depth1 > li > a::after {
    content: "\F4FE";
    font-family: "bootstrap-icons";
    position: absolute;
    right: 0;
  }

  .m-depth1 > li.active > a::after {
    content: "\F2EA";
  }

  .m-depth1 > li.active .m-depth2-wrap {
    max-height: 308px;
  }

  .m-depth2-wrap {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
  }

  .m-depth2 {
    padding: 20px 0;
  }

  .m-depth2 li a {
    display: block;
    padding-bottom: 15px;
  }

  .m-depth2 li a:hover {
    color: #a0a0a0;
  }

  .m-depth2 li:last-child a {
    padding-bottom: unset;
  }

  /* 모바일용 글로벌 메뉴 */
  .m-gbnav-dep2 li {
    border-top: 1px solid #e0e0e0;
  }

  .m-gbnav-dep2 li a, .m-gbnav-dep2 li button {
    width: 100%;
    display: block;
    font-size: 0.8rem;
    padding: 15px;
  }

  .m-country-wrap{
    display: none;
  }

  section {
    height: calc(100vh - 114px);
    overflow: hidden;
    position: relative;
  }

  .section-wrap {
    transition: transform 0.6s ease-in-out;
    will-change: transform;
  }

  section .section-wrap .female,
  section .section-wrap .male {
    flex-shrink: 0;
    width: 100vw;
    align-items: flex-end;
    padding-bottom: 60px;
    cursor: pointer;
  }

  #article_m {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0 20px 40px 20px;
  }

  #article_b {
    height: 300px;
  }

  #service {
    flex-direction: column;
    padding: 0;
    height: auto;
  }

  #service .service-wrap {
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid;
    position: relative;
    cursor: pointer;
  }

  #service .service-wrap:last-child {
    border-bottom: unset;
  }

  .service-wrap h2 {
    position: relative;
    padding-bottom: unset;
  }

  .service-wrap h2::after {
    content: "\F4FE";
    font-family: "bootstrap-icons";
    position: absolute;
    right: 0;
  }

  .service-wrap.active h2::after {
    content: "\F2EA";
  }

  .service-wrap div {
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s ease;
  }

  .service-wrap.active div {
    max-height: 241px;
  }

  .service-wrap ul {
    padding: 20px 0;
  }

  .service-wrap ul li a {
    padding-bottom: 15px !important;
  }

  .service-wrap ul li:last-child a {
    padding-bottom: 0 !important;
  }

  footer #footer-logo,
  .footer-center {
    width: 100%;
  }

  footer {
    flex-direction: column;
    padding: 15px;
    gap: 20px;
  }

  footer ul li {
    font-size: 0.8rem;
  }

  .footer-center li {
    display: inline-block;
  }

  .footer-center li.hd {
    display: block;
    padding-top: 5px;
  }

  .copyright {
    padding-top: 20px;
  }

  #login{
    width: 100%;
  }
}

@media (max-width: 768px) {
  .topnav_t,
  .topnav_b {
    font-size: 0.7rem;
  }

  footer ul li {
    font-size: 0.7rem;
  }

  #article_b span {
    font-size: 1rem;
  }

  .article_more {
    flex-direction: column;
    gap: 10px;
    font-size: 0.8rem;
  }
}
